<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mesh.service.mybatis.mapper.MybatisMapperExt">

    <resultMap id="TestVOResultMap" type="com.cloud.mesh.model.mybatis.TestVO">
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="listPageTest" resultMap="TestVOResultMap">
        select `name`,type,age,address,sex,`status` from db_test.mybatis_demo order by id desc
    </select>


</mapper>
