<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.example.mapper.MybatisDemoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.example.entity.MybatisDemo">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="age" property="age" />
		<result column="address" property="address" />
		<result column="sex" property="sex" />
		<result column="status" property="status" />
		<result column="deleted" property="deleted" />
		<result column="version" property="version" />
	</resultMap>

</mapper>
